.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.container-fluid,
.container,
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px;
}

.row,
p,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

a:hover {
    color: #84bd00 !important;
}

.bg-dark-custom {
    background-color: #333333 !important;
}

.text-dark-custom {
    color: #333333 !important;
}

.bg-dark-custom2 {
    background-color: #292A2C !important;
}

.text-dark-custom2 {
    color: #292A2C !important;
}

.bg-dark-custom3 {
    background-color: #54585a !important;
}

.text-dark-custom3 {
    color: #54585a !important;
}

.bg-success-custom {
    background-color: #84bd00 !important;
}

.text-success-custom {
    color: #84bd00 !important;
}

.bg-success-custom-transparent {
    background-color: rgba(132, 189, 0, 0.7) !important;
}

.bg-light-custom {
    background-color: #eee!important;
}

.text-light-custom {
    color: #eee !important;
}

@font-face {
    font-family: nova_light;
    src: url('../fonts/FontsFree-Net-Proxima-Nova-Light.otf');
}

.nova_light {
    font-family: nova_light;
}

body {
    font-family: nova_light;
}

@font-face {
    font-family: pt_bold;
    src: url('../fonts/PT_Sans_Bold.ttf');
}

.pt_bold {
    font-family: pt_bold;
}

@font-face {
    font-family: pt_regular;
    src: url('../fonts/PT_Sans_Regular.ttf');
}

.pt_regular {
    font-family: pt_regular;
}


/* body {
    font-family: pt_regular;
} */

.navbar {
    padding: 25px 0px;
    z-index: 999;
}

#logo {
    height: 92px;
}

.navbar .nav-item {
    padding: 20px 25px;
}

.navbar .nav-item:hover,
.active-li,
.active-menu {
    background-color: #84bd00 !important;
    color: white !important;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.navbar .nav-item .nav-link:hover {
    color: white !important;
}

.navbar .nav-item .nav-link {
    color: white;
}

@media screen and (max-width:768px) {
    /* .navbar {
        padding: 10px 0px 0px 0px !important;
    } */
    #logo {
        height: 60px !important;
    }
}

#accordionExample .accordion-item,
#accordionExample .accordion-item .accordion-button {
    border-radius: 0px !important;
}

#accordionExample .accordion-button:not(.collapsed) {
    color: #84bd00;
    background-color: transparent;
    box-shadow: inset 0 -2px 0 transparent;
}

#accordionExample .accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

#accordionExample .accordion-button {
    padding: 0.25rem 1.25rem;
}

#accordionExample .accordion-item {
    background-color: #fff;
    border: 1px solid #333333;
    margin-bottom: 10px;
}

#accordionExample .accordion-body {
    background-color: #ececec!important;
    border-top: 1px solid #333333;
}

#accordionExample .accordion-item:not(:first-of-type) {
    border-top: 1px solid #333333;
}

.btn-success-custom {
    background: #84bd00;
    border: 2px solid #84bd00;
    color: #333333;
    border-radius: 50px;
}

.btn-success-custom:hover {
    background: #bedb39;
    border: 2px solid #bedb39;
}

.card-img-top-custom {
    width: 107px;
    height: 107px;
    margin: 0px auto;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.tab-content .tab-pane {
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid black;
}

.nav-tabs .nav-link:focus {
    border-bottom: 1px solid transparent;
}

#accordionFlushExample .accordion-body {
    background-color: #333333;
    color: white;
    margin-top: 25px;
    width: 90%;
}

#accordionFlushExample .accordion-item {
    background-color: transparent;
    border: 1px solid transparent;
}

#accordionFlushExample .accordion-button:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent
}

#accordionFlushExample .accordion-button {
    color: #84bd00;
    background-color: transparent;
    background-image: url('../images/arrow.png');
    height: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 0 0px 0 transparent;
}

#accordionFlushExample .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url('../images/plus-solid.svg');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

#accordionFlushExample .accordion-button:not(.collapsed)::after {
    background-image: url('../images/minus-solid.svg');
    transform: rotate(-180deg);
}

#owl-carousel-projects .owl-dots {
    display: none;
}

#owl-carousel-projects .owl-theme .owl-nav {
    margin-top: 10px;
    font-size: 70px;
    height: 0px;
    color: #84bd00;
}

#owl-carousel-projects .owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    margin-right: 130px;
}

#owl-carousel-projects .owl-carousel .owl-nav button.owl-next {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    margin-left: 130px;
}

#owl-carousel-reviews .owl-dots,
#owl-carousel-reviews .owl-nav {
    display: none !important;
}

.min-h300 {
    min-height: 300px;
}

.bg-img,
.full-bg-img {
    background-image: url('../images/bottom-bgnd-1920w.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fab.fa-linkedin-in {
    background: #2867B2;
    padding: 10px 12px;
    border-radius: 10px;
}

.fab.fa-facebook-f {
    background: #3A5998;
    padding: 10px 15px;
    border-radius: 10px;
}

.ul {
    list-style: none;
}

.ul li::before,
.ul li>ul li::before {
    content: "\2022";
    color: #84bd00;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.ul li>ul li::before {
    content: "";
}

#accordionIndustries .accordion-body {
    background-color: white !important;
    outline: 1px solid black !important;
    border-radius: 0px !important;
}

#accordionIndustries .accordion-button {
    background-color: transparent !important;
    padding: 35px 0px !important;
    border-radius: 0px !important;
}

#accordionIndustries .accordion-button::after {
    display: none;
}

#accordionIndustries .accordion-button:not(.collapsed) {
    color: transparent;
    background-color: transparent;
    box-shadow: inset 0 -1px 0 transparent;
}

#accordionIndustries .accordion-item {
    background-color: transparent;
    border: 1px solid transparent;
}

#accordionIndustries .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0px;
}

#accordionIndustries .accordion-button:hover,
#accordionIndustries .accordion-button[aria-expanded="true"] {
    background-color: white !important;
    padding: 35px 0px !important;
    outline: 1px solid black !important;
    border-radius: 0px !important;
}